<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controle_de_Contas.Properties.Settings.BancoDeGastosConnectionString"
            connectionString="Data Source=DESKTOP-LCF0GL4;Initial Catalog=BancoDeGastos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>